<!-- Extend the base layout from the base.html -->
{% extends "base.html" %}

{% block title %} Delete Room {% endblock title %}

{% block content %}
  <h2 class="confirm-header">Delete a Room</h2>
  <p class="confirm-prompt">Are you sure you want to delete Room {{ room.room_number }}?</p>
  <form  method="post" class="text-center">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger btn-sm">Yes</button>
    <a href="{% url 'room_list' %}" class="btn btn-secondary btn-sm">Cancel</a>
  </form>    
{% endblock content %}
