<!-- Extend the base layout from the base.html -->
{% extends "base.html" %}

{% block title %} Room Type Form {% endblock %}

{% block content %}
<h2 class="text-center">Room Type Form</h2>
<form method="POST" class="jumbotron">
    {% csrf_token %}
    {% for field in form  %}
        <div class="form-group row">
            <label for="{{ field.id_for_label }}" class="col-md-3 col-form-label text-left">{{ field.label }}</label>
            <div class="col-md-9">{{ field }}</div>
        </div>
        {% if field.errors %} <!-- If the field has an error, display it underneath -->            
            <span class="text-danger">{{ field.errors.0 }}</span>  
        {% endif %}
    {% endfor %}
    
    <div class="button-group">
        <button class="btn btn-success btn-sm mt-4" type="submit">Save Room Type</button>
        <button type="button" class="btn btn-secondary btn-sm mt-4" onclick="history.back()">Back</button>
    </div>
</form>
{% endblock %}